# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb://localhost/bennie_speech_therapy

# JWT Configuration
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRATION_MINUTES=60

# CORS Configuration (if needed)
ALLOWED_ORIGINS=http://localhost:3000